body{
    background-color: #888;
    text-align:  center;
    font-family: sans-serif;
    color:  #666;
    width: 960px;
}

header{
    width: 100%;
    padding: 20px;
    background-color: #fff;
    margin: 10px;
}

.nav{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

section{
    float: left;
    background-color: #fff;
    width: 50%;
    height: 60%;
    padding: 20px;
    margin-left: 10px;
    line-height: 40px;
}

.aside{
    float: right;
    height: 60%;
    width: 40%;
    background-color: #fff;
}

article{
    margin-top: 20%;
    margin-bottom: 0px;
    background-color: #888;
    padding: 10px;
}

.h123{
    background-color: #fff;
    margin-bottom: 10px;
}

.p{
    background-color: #fff;
    margin-top: 10px;
}

.footer{
    clear: both;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    margin: 10px;

}